@mixin navButtons {
  padding: 0.5em 1.25em;
  border: none;
  border-radius: 8em;
  border: 0.2em solid changeColor($neutral-200);
  font-size: 1rem;
}
@mixin flex-row-between {
  display: flex;
  justify-content: space-between;
}
@mixin flex-column {
  display: flex;
  flex-direction: column;
}
@mixin hover-buttons {
  background-color: changeColor($red-700);
  color: changeColor($neutral-0);
  border-color: changeColor($red-700);
}
